/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Noto+Sans:400,700);
$base-font: "Lato", "Helvetica", "sans-serif";
$header-font: "Lato", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #E23340;

// Navbar
$brand-color-nav: #1A1B1F;

// Footer
$brand-color-footer: #2E3337;

// Brand color blue
$brand-blue: #E23340;
$brand-blue-hover: #C32B35;

// Header White
$white: white;

// Wrapper color
$light-gray: #f3f3f3f;

// Gray for text
$color-text: #4D4D4D;

// Instance Gray for Headers
$color-header: #303030;






$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee


/* -------------------------------------
 * Bootstrap sass variable
 * (see http://getbootstrap.com/customize/#less-variables)
 * ------------------------------------- */

// General style
$font-family-sans-serif:  $base-font;
$body-bg:                 white;
$font-size-base:          $base-size;
$line-height-base:        $base-height;
$headings-font-family:    $header-font;

// Semantic color scheme
$brand-primary:   $blue;
$brand-success:   $green;
$brand-info:      $yellow;
$brand-danger:    $red;
$brand-warning:   $orange;

// Buttons / inputs radius
$border-radius-base:  2px;
$border-radius-large: 2px;
$border-radius-small: 2px;

