/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

// .pages-home  see application.html.erb body comment

body {
    font-family: Montserrat;
}

.pages-home {
  p {
    color: $color-text;
  }
}
// BELOW: TOP BANNER

.banner-image {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.35) 0%,
    rgba(0,0,0,0.35) 50%), image-url('banner-image.jpg');
  // background-image: image-url('banner-image.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;

  // background:rgba(0,0,0,0.6);
  h1, h2 {
    text-shadow: 2px 2px black;
    // rgba(1, 1, 1, 0.5)
    // red green blue [alpha = opacity]
  }
}

.header-1 {
  font-size: 77px;
}

.h2 {
  font-size: 45px;
}

// BELOW: HOW TO WRAPPER

.wrapper-how-to {
  background-color: #f3f3f3;
  text-align: center;
  padding-bottom: 50px;
  img {
    width: 170px;
    margin-top: 30px;
    // padding-left: 10px;
  }
  p {
    width: 180px;
    margin: 0 auto;
  }
  h2, h3 {
    color: $color-header;
  }
}

.how-to-image {
  width: 50px;
}

.feiko {
  width: 200px;
}

// BELOW: BENEFITS WRAPPER

.wrapper-benefits {
  background-image: image-url('benefit-background.jpg');
  background-size: cover;
  background-position: left;
  height: 580px;
  width: 100%;
}

.header-center {
  text-align: center;
  margin-top: 50px;
}

.benefit-icon {
  padding-top: 1px;
// width: 85px;
// height: 85px;
}

.benefits-card {
  display: flex;
  margin-bottom: 20px;
}

.benefits-info {
  margin-left: 20px;
}

.benefit-btn {
  width: 250px;
  height: 45px;
  font-size: 18px;
  background-color: $brand-blue;
  transition: background-color 0.3s ease-in 0s;
  border: 0px;
  padding-top: 10px;
  align: center;
  margin-top: 0px;
  margin-left: 67px;
}

.btn-primary:hover {
  color: #fff;
  background-color: $brand-blue-hover;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: $brand-blue;
  border-color: $brand-blue;
}

.btn-success:hover {
  color: #fff;
  background-color: $brand-blue;
  border-color: $brand-blue;
}

.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: $brand-blue;
  border-color: $brand-blue;
}

.benefit-icon {
  // display: inline;
  // justify-content: space-between;
}

// BELOW: FEATURED IN WRAPPER

.wrapper-featured-in {
  height: 130px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


// BELOW: VIDEO TUTORIAL WRAPPER

.wrapper-video-tutorial{
  background-color: white;
  margin-top: 50px;
  p {
    // width: 60%;
  }
}

.video-tutorial-css {
  // width: 414px;
  // height: 222px;
  margin-bottom: 50px;
  margin-right: 30px;
}

.feiko-text-video {
  text-align: center;
}

.arrow-css {
  width: 33%;
  margin-top: 30px;
  margin-bottom: 50px;
}

// BELOW: RESTAURANT OWNER REGISTRATION WRAPPER

.wrapper-restaurant-owner {
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 30px;
  // padding-bottom: 50px;
  height: 200px;

}


.register-btn {
  width: 250px;
  height: 45px;
  font-size: 16px;
  background-color: $brand-blue;
  transition: background-color 0.5s ease;
  border: 0px;
  padding-top: 10px;
  align: center;
  margin-top: 5px;
}


