BOOKINGS
<table class="table table-hover">
  <thead>
    <tr class="active">
      <th>#</th>
      <th>ID</th>
      <th>Ref No.</th>
      <th>Customer</th>
      <th>Date</th>
      <th>Total</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>3474374</td>
      <td>RM234</td>
      <td>Ryan Jeff</td>
      <td>Jan 20 2015</td>
      <td>$180</td>
      <td>In Progress</td>
    </tr>
    <tr>
      <td>1</td>
      <td>3474374</td>
      <td>RM234</td>
      <td>Ryan Jeff</td>
      <td>Jan 20 2015</td>
      <td>$180</td>
      <td>In Progress</td>
    </tr>
  </tbody>
</table>
