
<br>
<br><br><br><br><br><br><br>

<h1> confirm your booking here </h1>

<%= link_to "confirm your booking here", restaurant_booking_path(@restaurant, @booking), method: :patch, style:"btn btn-success" %>
<br><br><br>
