

<br>
<br>
<br>
<br>

<br>
<div class="wrapper">
  <h4 style="text-align: center;">Your Booking List</h4>
  <!-- <hr class="style-seven"> -->
  <div class="container">
    <div class="row">
      <% @bookings.each do |booking| %>

      <% if current_user.id == booking.user_id  %>
      <div class="ribbon"><span>-50%</span></div>
      <h5> <%= booking.date.strftime("%A the %dth of %B, at %H:%M") %> </h5>
      <h5> | at <strong><%= booking.deal.restaurant.name %></strong></h5>
      <h5>Deal: <%= booking.deal.name %></h5>
      <h5>For <%= booking.number_of_people %> people</h5>
      <h5> <strong> Status: </strong>
        <% if booking.status == "booking_requested_by_user" %>
        Booking request submitted! Please confirm in your email
        <% link_to "Cancel booking" %>
        <!-- TODO: implement booking.status change -->
        <% elsif booking.status == "confirmed" %>
        You have confirmed your booking request! Awaiting restaurant confirmation...
        <% link_to "Cancel booking" %>
        <% end  %></h5>

        <% end %>
        <br>
        <% end %>

      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
