<footer id="footerOwner">
  <div class="row">
    <div class="col-md-offset-1 col-md-4 pad-footerOwner">
      &copy; FRM CodeTeam
    </div>
    <div class="col-md-4 pad-footerOwner">
      Design by &#xAE;  <%= link_to 'RyanJeff', 'http://lrjbrual.com', class:"trademark-layout" %>
    </div>
  </div>
</footer>
