<div class="banner-image">
  <div class="row">
    <div>
      <h1 class="header-1">Experience new restaurants</h1>
      <h2 class="h2">Taste the chef's passion</h2>
       <%= render 'layouts/searchForm' %>
    </div>
  </div>
</div>

<div class="col"></div>

<div class="wrapper-how-to">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">

      </div>
    </div>
  </div>
</div>

<div class="wrapper-benefits">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">

      </div>
    </div>
  </div>
</div>
