<table class="table table-hover">
  <thead>
    <tr class="info del">
      <th>
        <label>
        <input type="checkbox"> #
        </label>
        </th>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Location</th>
      <th>Start</th>
      <th>End</th>
      <th>Persons</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
       <label>
       <input type="checkbox"> 2
       </label>
     </td>
      <td contenteditable="true">Image</td>
      <td contenteditable="true">Cake</td>
      <td>$20</td>
      <td>5%</td>
      <td>Amsterdam</td>
      <td>Jan 1</td>
      <td>Jan 3</td>
      <td>5</td>
      <td>
        <%= button_tag(type: "submit", class: "editbtn btn btn-success btn-xs") do %>
         <i class="fa fa-pencil"> </i> Edit
        <% end %>
      </td>
      <td>
        <span class="label label-danger"><i class="fa fa-eye" aria-hidden="true"></i> View</span>
      </td>
    </tr>
  </tbody>
</table>
  <!-- Add button for offers -->
  <%= link_to "#addOffer", class: "btn btn-success btn-xs", "data-toggle" => "modal" do %>
  <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
  <% end %>
  <%= render 'owner/components/addDeals' %>
  <%= link_to 'Delete', class: "btn btn-warning btn-xs" do %>
      <i class="fa fa-trash" aria-hidden="true"> </i> Delete
  <% end %>
