// Your footer style
footer.footer {
    text-decoration: none;
    // padding: 4em 0;
    color: white;
    background-color: #4C4C4C;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    padding-top: 30px;
}
