// Your footer style
footer.footer {
  text-decoration: none;
    // padding: 4em 0;
    color: white;
    background-color: $brand-color-footer;
    // -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    // box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    padding-top: 30px;
    p {
      line-height: 25px;
    }
    li {
      padding-top: 5px;
    }
    a {
      color: white;
      opacity: 0.5;
    }
    a:hover {
      color: $brand-blue;
      text-decoration: none;
      opacity: 0.9;
    }
  }



// Email newsletter/exclusve deals
.form-email {
  display: inline-flex;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  align: center;
}

.email-service-input {
  width: 250px;
}

.email-input {
  width: 300px;
  border: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.email-service-btn {
  width: 100px;
  border: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: $brand-blue;
  height: 34px;
  transition: background-color 0.3s ease-in;
  :hover {
    background-color: $brand-blue-hover;
  }
}

#hairline-footer {
  max-width: 90vw;
  margin: 10px 0px 10px 56px;
  align: center;
  text-align: center;
  opacity: 0.2;
}
