.header-cover-image {
    background: no-repeat center center;
    background-image: url('background-chair.jpg');
    // background-size: 100%;
    //-webkit-background-size: cover;
    //-moz-background-size: cover;
    //-o-background-size: cover;
    //background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // position: fixed;
    margin-top: 58px;
    left: 0px;
    right: 0px;
    height: 300px;
    z-index: -1;

  }
