.header-cover-image {
    background-image: url('background.jpg');
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    //background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 380px;
    z-index: -1;
  }
