.header-cover-image {
  padding-top: 50px;
  background: no-repeat center center;
  background-image: image-url('banner-image.jpg');
  background-size: cover;
  margin-top: 50px;
  left: 0px;
  right: 0px;
  height: 225px;
  z-index: -1;
}
