/* Main class */
.background-nav{
  background-color: $brand-color-nav;
  opacity: 0.97;
  // box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  border-bottom: 0px;
}

.navbar-brand {
  padding-left: 150px;
  font-size: 24px;
  word-spacing: 2px;
  letter-spacing: 1px;
}


// Logo/title Dinecity (left side)
.navbar-header > a.nav-color {
  color: white;
  transition: color 0.5s ease;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
  background-color: transparent;
}

// Clickable links

.container-fluid ul li a.nav-color {
  color: white;
  transition: color 0.5s ease;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $brand-blue;
  background-color: transparent;
}

ul li button .btn-success {
  padding-top: 5px;
}

// navbar: dropdown menu
.feiko-dropdown-menu {
  width: 100px;
}

// Testing new log in options
.log-in-button {
  // border: 1px solid white;
  background-color: $brand-color-nav;
  color: white;
  outline: 1;
  font-size: 17px;
  padding: 0 auto;
  :hover {
    $brand-color-nav: white;
    color: black;
    outline: 0;
  }
}



// navbar: avatar section

.btn-avatar {
  margin-right: 154px;
  background-color: #1A1B1F;
  border: 0px;
  border-radius: 0px;
  padding: 5px 12px 2px 13px;
  width: 125px;
  height: 50px;
  transition: background-color 0.25s ease;
  :hover {
    background-color: $brand-blue;
  }
}

.btn-avatar :hover {
  // background-color: transparent;
}

#feiko-h6-override {
  background-color: transparent;
}


.btn-success:hover {
  color: #fff;
  background-color: #0D0D0F;
  border-color: #0D0D0F;
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #0D0D0F;
  border-color: #0D0D0F;
}

.avatar {
  width: 33px;
  height: 33px;
  background-color: $brand-blue;
  border: 2px solid $brand-blue;
  margin-top: 5px;
  margin-bottom: 5px;
}

// User Name
h6, .h6 {
  font-size: 15px;
  display: inline;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: underline $brand-blue;
}
