/* Main class */
.background-nav{
  background-color: #4C4C4C;
  opacity: 0.91;
  -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
}
.navbar-header > a.nav-color{
  color: white;
}
.container-fluid ul li a.nav-color{
  color:white;
}
ul li button .btn-success{
  padding-top: 5px;
}
