// .navbar-form{
//     position: absolute;
//     width: 100%;
//     left: 0;
//     text-align: center;
//     padding-top: 190px;
// }
.search-margin{
  margin-top: 220px;
}
#search-input{
    padding: 2px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#search-input input{
    border: 0;
    box-shadow: none;
}

#search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#search-input .glyphicon-search{
    font-size: 23px;
}
