
#restaurant-name {
  margin-left: 105px;
}

.restaurant-gallery {
  // background-color: #D1D1D1;
  height: 350px;
  width: 650px;
}

.gallery-image {
  height: 350px;
  width: 650px;
  padding: 15px 0 0 0px;
  margin-left: auto;
  margin-right: auto;
}






//  BELOW: PHOTO SLIDER CSS
#carousel-example-generic {
  width: 700px;
  height: 350px;
}

#carousel-example-generic img {
  // position: absolute;
  // top: 0;
  // left: 0;
  min-width: 100%;
  // height: 500px;
  // max-width: none;
}

.carousel-inner > .item > img {
  height: 350px;
}


// BELOW: Reservation Form - Phase I

.restaurant-booking-form {
  background-color: #EAEAEA;
  height: 350px;
  margin-left: 9.8%;
}

#time {
  padding: 6px 5px 5px 13px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  height: 38px;
  color: #57514a;
  width: 262.5px;
}

.reservation-selector {
  font-size: 15px;
  color: #989898;
  margin-top: 9px;
  margin-bottom: 9px;
  // width: 280px;
  // // padding: 6px 5px 5px 13px;
  // font-size: 15px;
  // // line-height: 1;
  // // border: 0;
  // height: 36px;
}

.fix-positioning {
  margin-bottom: 25px;
  margin-top: -6px;
}

#reservation-button {
  text-align: center;
  margin-top: 33.3px;
}

// BELOW: White space bottom
#bottom-white-space {
}

.header-items {
  margin-bottom: 50px;
}

// TABS & PANEL

.feiko-tabs > li > a{

}

.feiko-tabs > li.active > a{
  font-weight: bold;
}

.feiko-tab-content {
  border-left: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
}

.feiko-content-padding {
  padding: 30px 30px 30px 30px;
}

#signature-menu {
  padding-left: 40px;
  font-size: 40px;
  color: #38B999;
}

#feiko-tab-deal li {
  list-style-type: none;
  line-height: 2;
}

#reviews ul {
}

#reviews li {
  line-height: 2;
  list-style-type: none;
}

#feiko-li-styling {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;

// .review-background {
//   background-color: #D1D1D1;
//   font-weight: 300;
// }

}

.review_text {
  padding-top: 45px;
  margin-top: -30px;
}

.review-name-padding {
  padding-left: 50px;
}

.review-padding {
  margin-bottom: 20px;
}
