
#restaurant-name {
  margin-left: 105px;
}

.restaurant-gallery {
  // background-color: #D1D1D1;
  height: 350px;
}

.gallery-image {
  height: 350px;
  width: 450px;
  padding: 15px 0 0 0px;
  margin-left: auto;
  margin-right: auto;
}

.restaurant-booking-form {
  background-color: #EAEAEA;
  height: 300px;
// border: 1px solid red;
}

//  BELOW: PHOTO SLIDER CSS
#carousel-example-generic {
  width: 550px;
  height: 300px;
}

#carousel-example-generic img {
  // position: absolute;
  // top: 0;
  // left: 0;
  // min-width: 100%;
  // height: 500px;
  // max-width: none;
}


// BELOW: Reservation Form - Phase I
#time {
  // width: 280px;
  padding: 6px 5px 5px 13px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  height: 38px;
  color: #57514a;
  width: 213px;
}

.reservation-selector {
  font-size: 15px;
  color: #989898;
  margin-top: 5px;
  margin-bottom: 5px;
  // width: 280px;
  // // padding: 6px 5px 5px 13px;
  // font-size: 15px;
  // // line-height: 1;
  // // border: 0;
  // height: 36px;
}

.fix-positioning {
  margin-bottom: 25px;
  margin-top: -6px;
}

#reservation-button {
  text-align: center;
  margin-top: 20px;
}

// BELOW: White space bottom
#bottom-white-space {
  height: 300px;
}

