
.restaurant-gallery {
  // background-color: #D1D1D1;
  height: 500px;
}

.gallery-image {
  height: 350px;
  width: 450px;
  padding: 15px 0 0 0px;
  margin-left: auto;
  margin-right: auto;
}

.restaurant-booking-form {
  // background-color: blue;
  height: 500px;
}

//  BELOW: PHOTO SLIDER CSS
