<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
      <label for="usr">Request Title:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group ">
    <label for="sel1">Select list of Request:</label>
      <select class="form-control" id="sel1">
        <option>Booking Problem</option>
        <option>Pricing Problem</option>
        <option>Analytics Problem</option>
      </select>
    </div>
    <div class="form-group">
      <label for="comment">Message:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
        <button class="col-md-12 btn btn-primary">Submit</button>
    </div>
    <div class="col-md-4">
      <h4><strong>12 Restaurants Office Location</strong></h4>
      <h5>AmsterDam 23, Netherlands</h5>
      <p>If you need help kindly contact us ASAP</p>
      <h6>Contact No.: +39 4564 765</h6><br>
      <h6>Fax No.: +39 4564 765</h6>
    </div>
  </div>
</div>
