// RESERVATION PHASE II BELOW  // FURTHER BELOW = SIGN UP CSS
//below feiko
.booking-login {
  border: 0px;
  background-color: white;
  height: 60px;
  vertical-align: center;
  width: 650px;
  // font-family: "$font-1";
}

.booking-login {
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 60px;
  padding-bottom: 50px;
}

.booking-summary {
  height: 180px;
  width: 650px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1px 25px 25px 25px;
  background-color: white;
  margin-top: 5px;
  border: 0px;
  font-size: 16px;
  .fa{
    color: gray;
    padding-right: 10px;
  }
}

#styling-ul-summary li {
  list-style-type: none;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: gray;
}

.reservation-details-style {
  color: $brand-blue;
}

.booking_wrapper {
  width: 650px;
  padding-top: 100px;
  margin: 0 auto;
}

.styling-button {
  background-color: white;
  color: black;
  font-weight: bold;
  width: 170px;
  height: 40px;
  margin-left: 13px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0px;
  border: 1px solid $brand-blue;
  // a {
  //   color: black;
  //   font-weight: bold;
  // }
  a:hover {
    color: white;
    border: 0px;
  }
}
.styling-button:hover {
  background-color: $brand-blue;
  color: white;
}
// .link-styling {
//   color: none;
// }

.details-input {
  background-color: white;
  border: 0px;
  padding: 5px 30px 10px 30px;
  margin-top: 5px;
  // margin-bottom: 50px;
}

.note {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 50px;
  padding: 5px 30px 10px 30px;
}

.testing-center {
  // display: flex;
  // align-content: center;
  // justify-content: center;
  // align: center;
  padding-top: 10px;
}

// SIGN UP PAGE BELOW

.sign-up-wrapper {
  background-color: white;
  padding: 70px 15px 30px 15px;
  margin: auto;
  border-radius: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


// ################ above _SIGN-UP CSS_  ###################### !
// ################ below _SIGN-IN CSS_  ###################### !

//below Feiko

.sign-in-wrapper {
  background-color: white;
  padding: 85px 70px 55px 70px;
  width: 500px;
  margin: auto;

}



//below matt

.padding-form{
  // padding-top: 60px;
  // padding-bottom: 100px;
}

matt-signin-wrapper{
  margin-top: 110px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #F1F1F1;
  border-radius: 30px;
  box-shadow: 25px 20px 11px lightgrey;
}
// Feiko's changes:
// .matt-signin-wrapper {
//     /* margin-top: 110px; */
//     /* margin-bottom: 30px; */
//     padding-top: 101px;
//     padding-bottom: 87px;
//     background-color: #F1F1F1;
//     /* border-radius: 30px; */
//     /* box-shadow: 25px 20px 11px lightgrey; */
//     width: 531px;
// }


// .control-label {
//   position: relative;
// }
// .control-label .i {
//  position: absolute;
//  padding: 10px;
//  pointer-events: none;
// }

// .left-addon .i  { left:  0px;}
// .right-addon .i { right: 0px;}

// .left-addon input  { padding-left:  30px; }
// .right-addon input { padding-right: 30px; }


.errspan {
  float: right;
  top: 35px;
  right: 1%;
  position: relative;
  z-index: 2;
  color: grey;
}

.errspan-user {
  float: right;
  top: 35px;
  right: 0px;
  position: relative;
  z-index: 2;
  color: grey;
}
