//below feiko
.booking-login {
  border: 1px solid black;
  background-color: white;
  height: 60px;
  vertical-align: center;
  // font-family: "$font-1";
}

.booking-login {
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.booking-summary {
  height: 220px;

}

.booking_wrapper {
  width: 600px;
  padding-top: 100px;
  margin: 0 auto;
}


.styling-button {
  background-color: white;
  color: black;
  font-weight: bold;
  width: 170px;
  height: 40px;
  margin-left: 13px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0px;
  border: 1px solid #5CB85C;
  // a {
  //   color: black;
  //   font-weight: bold;
  // }
  a:hover {
    color: white;
  }
}
.styling-button:hover {
  background-color: #5CB85C;
  color: white;
}
// .link-styling {
//   color: none;
// }




//below matt

.padding-form{
  padding-top: 60px;
  padding-bottom: 100px;
}

.matt-signup-wrapper{
  margin-top: 110px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #F1F1F1;
  border-radius: 30px;
  box-shadow: 25px 20px 11px lightgrey;
}

.matt-signin-wrapper{
  margin-top: 110px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #F1F1F1;
  border-radius: 30px;
  box-shadow: 25px 20px 11px lightgrey;
}
// Feiko's changes:
// .matt-signin-wrapper {
//     /* margin-top: 110px; */
//     /* margin-bottom: 30px; */
//     padding-top: 101px;
//     padding-bottom: 87px;
//     background-color: #F1F1F1;
//     /* border-radius: 30px; */
//     /* box-shadow: 25px 20px 11px lightgrey; */
//     width: 531px;
// }


// .control-label {
//   position: relative;
// }
// .control-label .i {
//  position: absolute;
//  padding: 10px;
//  pointer-events: none;
// }

// .left-addon .i  { left:  0px;}
// .right-addon .i { right: 0px;}

// .left-addon input  { padding-left:  30px; }
// .right-addon input { padding-right: 30px; }


.errspan {
  float: right;
  top: 35px;
  right: 1%;
  position: relative;
  z-index: 2;
  color: grey;
}

.errspan-user {
  float: right;
  top: 35px;
  right: 0px;
  position: relative;
  z-index: 2;
  color: grey;
}
