<div class="modal fade" id="addOffer" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Create Your Deal
                </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
              <div class='row'>
                <div class='col-xs-offset-2 col-xs-8'>
                  <%= simple_form_for :deal do |f| %>
                  <%= f.input :name %>
                  <%= f.input :description %>
                  <div class='form-group'>
                    <div class='col-sm-offset-2 col-sm-10'>
                  <%= f.submit class: 'btn btn-primary btn-sm' %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal"> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
