<div id="restaurant-list">
  <h3 style="text-align: center;">Today's deals</h3>
<hr>
<div class="container">
    <div class="row">
      <% @restaurants.first(12).each do |resto| %>
      <div class="col-sm-6 col-md-3 card">
        <div class="thumbnail">
         <div class="ribbon"><span>-50%</span></div>
         <img src="http://unsplash.it/<%= @unsplash_counter %>/200" alt="">
         <% @unsplash_counter += 1 %>
         <h4><%= resto.name %></h4>
         <p>Eat beautifull food at <span class="resto-name"><%= resto.name %></span> and receive 50% discount! </p>
         <p><a href="/restaurants/77" class="btn btn-primary" role="button">View Deal</a></p>

  <!--         <%= link_to "View Deal", restaurant_path(resto) %>
  -->
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
