<div class="wrapper">
  <div class="header-cover-image">
    <%= render 'layouts/searchForm' %>
  </div>
</div>
<br>
<br>
<div class="clear"></div>
<div class="container">
  <%= render 'content' %>
</div>
<br>
<br>
<br>
<br>
