  <div class="header-cover-image">
    <%= render 'layouts/searchForm' %>
  </div>
  <div class="filter-bar">
</div>
  <br>
  <br>
  <div class="clear"></div>
  <div class="container">
    <%= render 'content' %>
  </div>
  <br>
  <br>
  <br>
  <br>
