<!-- #put a link which directs to booking#new (From matts brabnch) -->

<h2><%= @restaurant.name %></h2>
<hr>
<h4><% link_to "Make a reservation", new_restaurant_booking_path(@restaurant) %></h4>

<div class="container">
  <div class="row">
    <div class="col-md-7 restaurant-gallery">
      <img src="http://unsplash.it/350/450" alt="" class="gallery-image">
    </div>
    <div class="col-md-5 restaurant-booking-form">
      <h2>booking form</h2>
    </div>


  </div>
</div>
