<!-- #put a link which directs to booking#new (From matts brabnch) -->

<h2><%= @restaurant.name %></h2>
<hr>
<h4><% link_to "Make a reservation", new_restaurant_booking_path(@restaurant) %></h4>

<div class="container">
  <div class="row">
    <div class="col-md-9 restaurant-gallery">
      <img src="http://unsplash.it/450/300" alt="">
    </div>
      <div class="col-md-3 restaurant-booking-form">
        <form>
          <div class="form-group">
            <h5>Reservation</h5>
            <label for="Dateselector"></label>
            <input type="date" class="form-control" placeholder="Date.today">
          </div>
          <div class="form-group">
            <label for="numberofpeople"></label>
  <!-- In the next line should we interpolate the set # of people set by resto owner (for max) -->
            <input type="number" class="form-control" id="number-of-people" placeholder="Number of people" min="2" max="20">
          </div>
          <button type="submit" class="btn btn-success">Make Reservation</button>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
