.card {
 padding: 0 auto;
 text-align: center;
 p {
  font-size: 13px;
}
}

.thumbnail {
 background-color: #E6E6E6;
 height: 260px;
 box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}

.resto-name {
  font-weight: bold;
}
