// filter bar
.filter-bar {
  height: 50px;
  width: auto;
  background-color: #f3f3f3;
}

.flex-filter-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filter-button {
  background-color: #f3f3f3;
  border: 1px solid #767676;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  color: #323232;
  width: 100px;
  height: 35px;
  margin-left: 20px;
  //Note the style margin-left as temp fix in html
}

.filter-button:hover {
  background-color: #f3f3f3;
  border: 1px solid #767676;
  border-radius: 3px;
}

.flex-active-filters {
  position: absolute;
  right: 125px;
  display: flex;
  padding: 5px;
  margin-top: 3px;
  // align-items: flex-end;
  // justify-content: flex-end;
}

#active-filters {
  margin-top: 8px;

}



// Card layout
.card {
  top: 0px;
  padding: 0px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  width: 370px;
  box-shadow: 0px 0px 0px 0px white;
  transition-delay: -0.2s;
  p {
    font-size: 14px;
    width: 290px;
    margin: 0 auto;
  }
}

.card:hover {
  transition: all 0.2s ease-in;
  box-shadow: 0px 7px 18px 7px rgba(1, 1, 1, 0.2);
  top: -5px;
  cursor: pointer;
  border-top: none;
}

.zonder-tangerine-font {
  font-family: $base-font;
  font-color: #171624;
  align: left;
}

.link-to-cards {
  color: #171624;
}

.link-to-cards:hover {
  color: inherit;
  text-decoration: none;
}


// Actual card inside

.thumbnail-feiko {
 background-color: #F6F6F6;
 border-radius: 3px;
 height: 320px;
 width: 370px;
 top: 0;
 float: left;
 box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.35);
 img {
  width: 100%;
  height: 190px;
}
}

.price-label-card {
  width: 59px;
  height: 53px;
  background-color: #f3f3f3;
  position: absolute;
  right: 28px;
  top: 0px;
  color: #E23340;
  opacity: 0.9;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

#original-price {
  font-size: 13px;
  color: #2E2E2E;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}



.resto-name {
  font-weight: bold;
}

.btn-deal {
  background-color: $brand-blue;
  color: white;
  border: 0;
  margin-top: 10px;
  transition: background-color 0.3s ease-in;

}
