<table class="table table-hover">
  <thead>
    <tr class="info">
      <th>#</th>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Location</th>
      <th>Start</th>
      <th>End</th>
      <th>Persons</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
       <label>
       <input type="checkbox"> 1
       </label>
     </td>
      <td>Image</td>
      <td>Cake</td>
      <td>$20</td>
      <td>Amsterdam</td>
      <td>Jan 1</td>
      <td>Jan 3</td>
      <td>5</td>
      <td>
        <span class="label label-danger">Edit</span>
      </td>
    </tr>
    <tr>
      <td>
       <label>
       <input type="checkbox"> 2
       </label>
     </td>
      <td>Image</td>
      <td>Cake</td>
      <td>$20</td>
      <td>Amsterdam</td>
      <td>Jan 1</td>
      <td>Jan 3</td>
      <td>5</td>
      <td>
        <span class="label label-danger">Edit</span>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to 'Add', '/owner/add', class: "btn btn-success" %>
<%= link_to 'Delete', '/owner/add', class: "btn btn-warning btn-primary" %>
