<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="newsletter" id="email">
          <form action="subscribe" id="invite" method="POST" onsubmit="return false;">
            <p style="color: white; text-align: center; font-size: 20px; margin-bottom: 0px;">
              Sign up and receive exclusive deals just for you.
            </p>
            <p style="color: white; font-size: 12px; font-weight: 300;">
              *Don't worry we won't spam you. Only one overview per month.
            </p>
            <div class="col-md-6 col-md-offset-3">
              <div class="form-email">
                <div id="email-service-input">
                  <input class="form-control email-input" type="text" placeholder="your@email.com" name="email" id="address" style="font-size: 16px;">
                </div>
                <div>
                  <input class="btn btn-block btn-primary btnsignup email-service-btn " type="submit" value="Sign up" style="font-size: 15px;">
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
            <div class="clearfix"></div>
            <br>
            <div class="col-md-3"></div>
            <div class="col-md-6"><span id="result"></span></div>
            <div class="col-md-3"></div>
          </form>
        </div>

        <%= content_for :after_js do %>
        <script type="text/javascript">
          //JavaScript for Newsletter subscription
          $(document).ready(function() {
            $(".btnsignup").on("click",function(){
              var email = $("#address").val();
              if(validateEmail(email)){
                $.post("http",$("#invite").serialize(),function(resp){
            // console.log(resp);
            $("#result").html("<div class='alert alert-success'>"+resp+"</div>").fadeIn("slow");
          });
              }else{
                $("#result").html("");
                $("#result").html("<div class='alert alert-danger'>Email Address is Invalid</div>").fadeIn("slow");
              }
              setTimeout(function(){  $("#result").html("");  }, 15000);
            });
          });
          {
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
          }
        </script>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr id="hairline-footer">

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-sm-4">
        <div class="footer-logo">
          <%= image_tag "white.svg", style: "width: 80%; margin-bottom: 30px;" %>
          <p style="font-size: 13px; color: white; font-weight: 300">Experience new restaurants with discount<br>Online Restaurant &amp; Booking Platform</p>
          <p style="font-size: 13px; color: white; font-weight: 300">&copy;&nbsp;<%=Date.today.year%>&nbsp;<b>DineCity</b>
          </div>
        </div>
        <div class="col-sm-2">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li><a href="#">How to?</a></li>
            <li><a target="_blank" href="#">Reservations</a></li>
            <li><a href="#" title="">Account</a></li>
            <li><a href="#" title="">FAQ</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>Countries</h5>
          <ul class="list-unstyled">
            <li><a href="#">Netherlands</a></li>
            <li><a href="#">Germany</a></li>
            <li><a target="_blank" href="#">England</a></li>
            <li><a href="#">France</a></li>
            <li><a href="#">Italy</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>About</h5>
          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Press Room</a></li>
            <li><a target="_blank" href="#">Quality Assuarance</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Jobs <span class="btn btn-primary btn-xs">We're hiring!</span></a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><a href="#" target="_blank">Terms of service</a></li>
            <li><a href="#" target="_blank">Privacy policy</a></li>
            <li><a href="#" target="_blank">Cookie Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
</footer>
