<nav class="navbar navbar-default navbar-fixed-top background-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="nav-color navbar-brand " href="#"><i class="fa fa-glass" aria-hidden="true"></i> DineCity</a>
    </div>
      <%= form_tag(restaurants_path, :method => "get", id: "search-form", class: "navbar-form navbar-left") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Restaurant", class: "form-control" %>
        <%= submit_tag "Search", class: "btn btn-primary btn-sm outline" %>
      <% end %>

      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="What city?">
        </div>
        <button type="submit" class="btn btn-default">search for restaurants</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-color" href="#">Log-In</a></li>
        <li><%= link_to "Log-Out", destroy_user_session_path, class:"nav-color",  method: :delete%> </li>
        <!-- <li class="dropdown">
          <a href="#" class="nav-color dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sign-In</a></li>
            <li><a href="#">Sign-Up</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse
  </div><!-- /.container-fluid -->
</nav>
